<nav class="navbar navbar-expand navbar-light topbar mb-3 static-top" style="background-color: lightblue; height: 60px;">

    <img src="../../assets/img/url.png" routerLink="/home" alt="logo" height="40"><h1 style="color:black; ">MiniURL</h1>
    
    

    <div class="col-lg-6 d-flex " >
        
        <div class="col-lg-3">
            <a href="" routerLink="/dashboard" class="text-gray-800 ">Dashboard</a>
        </div>
        <div class="col-lg-3">
            <a href="" routerLink="/shorten" class="text-gray-800">Shorten URL</a>
        </div>
        <div class="col-lg-3">
            <a href="" routerLink="/showURL" class="text-gray-800">List All URL</a>
        </div>
    </div>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" routerLink="/register" id="userDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-800">Register/Sign up</span>
            </a>
        </li>
    </ul>
</nav>
