<div class="card mb-4">
    <!-- <div class="card-header py-3" style="background-color: lightblue;">
        <h6 class="m-0 font-weight-bold" style="color: black;">URL List </h6>
    </div>

    <div class="card-body"> -->
        <div class="row d-flex" style="display: flex; justify-content: space-around;">
            <div class="card shadow col-lg-5" style="padding: 0px; margin-top: 1rem;" *ngFor="let data of urlList">
                <div class="card-header py-3" style="background-color: lightblue;">
                    <h6 class=" font-weight-bold text-secondary" >URL {{data.id}}:</h6>
                </div>
                <div class="card-body">
                    <ul type="none">
                        <li><b>Original URL: </b> {{data.longurl}}</li>
                        <li><b>Short URL: </b> <a href="{{data.longurl}}" target="_blank" (click)="changeCount(data.id)"><b>{{data.shorturl}}</b></a></li>
                        <li><b>No. of Clicks: </b> {{data.clicks}}</li>
                    </ul>
                </div>
            </div>
            </div>
    <!-- </div> -->
</div>